body{
    font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
margin: 0%;
}

.left-border h1{
    line-height: 35px;
    padding-left: 10px;
    font-size: 45px;
    
   
}
.left-border{
    border-left: 6px solid blue;
    border-radius: 5px;
   
    
   

}
p{
    line-height: 28px;
}

.mission-2022{
    color: blue;
}
section{
    display: flex;
    margin: 40px;
   

}

.half-width{
    width: 80%;
    padding: 5%;
}

.half-width img{
    width: 80%;
}
.first-link {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px;
  
   
}
.scroll-para{
    margin-top: 50px;
}





.mission-2{
    color: blue;
}
.akla-h1 {
    text-align: center;
    width: 100%;
    
}


.bar-tow-1{
    width: 33%;
    padding: 10px;
    margin: 50px;
    
    background-color: rgba(170, 170, 218, 0.21);
    border-radius: 15px;
}
.bar-tow-1 img{
    width: 60%;
}
.bar-tow-2{
    width: 33%;
    padding: 10px;
    margin: 50px;
   
    background-color: #ff634724;
    border-radius: 15px;
}

.bar-tow-2 img{
    width: 60%;
}
.bar-tow-3{
    width: 33%;
    padding: 10px;
    margin: 50px;
   
    background-color:#66339936;
    border-radius: 15px;
}

.bar-tow-3 img{
    width: 60%;
}



.bar-img{
    width: 40%;
    margin-left: 53px;
}
.bar-p{
    width: 60%;
    
   
}

.bar-img img{
    width: 60%;
    border-radius: 10px;
    

}
.bar-p p{
    width: 90%;
}
.bar-p a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px;
  
   
}


.extrap {
    margin-left: 52px;
}
.extrai{
    margin-left: 100px;
}

.last-img{
    width: 45%;
    height: 370px;
    margin-left: 10%;
    

}

.last-img img{
    width: 45%;
    height: 100%;
    border-radius: 10px;
}

.last-p{
    width: 60%;
    margin-left: 10%;
   
}

.last-p p{
    width: 50%;
}

.last-p a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px;
}

.over{
    background-color: black;
    text-align: center;
}
.finishing-tush{
    color: white;
}
.mission-over{
    color: blue;
}

.over p{
    color: white;
}




